html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  position: relative;
  height: 100%;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  justify-content: flex-end;
}

.slider__content {
  max-width: 380px;
  width: 100%;
  z-index: 1;
  max-height: 212px;
  height: 100%;
  margin-right: 100px;
  margin-top: 120px;
}
.slider__content-text {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  text-transform: uppercase;
  color: #F8F1EA;
  margin-bottom: 50px;
}
.slider__content-button {
  padding: 15px 57px;
  border: 2px solid #F8F1EA;
  background: inherit;
  color: #F8F1EA;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  width: 227px;
  height: 52px;
}
.slider__content-button:hover {
  background: #F16A50;
  border: 2px solid #F16A50;
  transition: 0.4s;
}

.main__slider-content {
  margin-bottom: 70px;
}

.bg1 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%), url("../images/slider-content/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%), url("../images/slider-content/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg3 {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.84) 0%, rgba(217, 217, 217, 0) 100%), url("../images/slider-content/image3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

button:hover {
  cursor: url("../imagescursor.svg");
}

.main__slider-guitar {
  padding: 0px 40px;
}
.main__slider-guitar_header {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.swiper {
  width: 100%;
  max-height: 440px;
  height: 100%;
  padding: 0px 100px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 20px;
  max-width: 224px;
  width: 100%;
  max-height: 437px;
  height: 100%;
  border: 1px solid #F16A50;
  margin-bottom: 50px;
  margin-right: 0;
}
.swiper-slide-inStock {
  position: relative;
  left: -10px;
  padding: 4px 5.5px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
}
.swiper-slide-image {
  max-width: 204px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 18px;
}
.swiper-slide-name {
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.swiper-slide-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin: 0 auto;
}

.swiper-button-lock {
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  width: 50px;
  height: 50px;
}

.swiper-button-next {
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
}

.swiper-button-prev {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  transform: rotate(45deg);
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper1 {
  width: 100%;
  height: 100%;
}

.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 760px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }
  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}/*# sourceMappingURL=styles.css.map */